body{
    background-color: #f0fbff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
/*
Nav
*/
nav{
    background-color: #e0e2de;
    border-bottom: 1px solid #3cb1db;
}
nav ul{
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav .menu ul{
    background-color: lightgrey;
    padding: 1em 0;
    padding-left: 0;
}
nav .menu ul li a {
    padding: 1em 2em;
    text-decoration: none;
    color: #2e94b9;
}
nav .menu ul li a:hover{
    text-decoration: underline;
    background-color: #2e94b9;
    color:  white;
}
nav .menu ul li:first-child {
    margin-left: 0em;
}
nav .search {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .search img.logo{
    width: 270px;
    vertical-align: middle;
}
nav .search input{
    padding: .6em;
    border: 1px solid #cdcdcd;
    width: 70%;
}
nav .search button{
    padding: 0.5em 0.6em;
    border: 1px solid #2d94b9;
    background: lightgrey;
    font-weight: bold;
    color: #2d94b9;
}
nav .search button:hover{
    background-color: white;
}
nav .search img {
    vertical-align: middle;
}
nav .search img.car {
    width: 38px;
}
nav .search .first {
    flex-grow: 1;
}
nav .search .second {
    flex-grow: 1;
}
nav .search .third {
    flex-grow: 1;
    text-align: right;
}
/*
Banner
*/
#banner {
    height: 500px;
    background-color: #2e94b9;
    padding: 2em 0;
}
#banner h2 {
    font-size: 3em;
    color: lightgrey;
}
#banner h3 {
    font-size: 7em;
    color: aqua;
    margin: 0;
    line-height: 94px;
}
#banner h3 i{
    font-size: .5em;
    vertical-align: super;
}
#banner h4 {
    color: #8bcbe3;
}
#banner .container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
    "promo1 . ."
    "promo2 promo2 ."
    "promo3 promo3 promo4";
}
.promo-product-1 {
    grid-area: promo1;
    background-color: #37a1c7;
}
.promo-product-3 {
    grid-area: promo2;
    background-color: #51a8c7;
}
.promo-product-4 {
    grid-area: promo3;
    background-color: #6ab1cb;
}
.promo-product-8 {
    grid-area: promo4;
    background-color: #43a1c3;
}
/*
Products
*/
#products .list {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}
#products .list .product{
    width: 220px;
    margin: 1em 2em 0 0;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}
#products .list .product:hover{
    background-color: #bfbfbf;
}
#products .list .product img{
    width: 100%;
}
#products .list .product .price span{
    display: block;
}
#products .list .product .price span.oldPrice{
    color: #8a8989;
    text-decoration: line-through;
}
#products .list .product .price span.lastPrice{
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
#products .list .product .price span.lastPrice i {
    font-size: 17px;
}
#products .list .product .price .name{
    font-weight: bold;
    color: darkslategray;
    font-size: 1.2em;
}
/*
General
*/
.width80{
    margin:  0 auto;
    width: 80%;
}
/** Footer */
footer{
    background-color: grey;
    text-align: center;
    
}
footer ul {
    list-style: none;
    padding: 1em;
    margin: 0;
}
footer ul li{
    display: inline-block;
}